<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>URL already in use. Please enter another URL.</h2>
    <a href="/">Home</a>
    <a href="/submitLinks">Go back</a>
    <a href="/generateLinks">Generate a random link.</a>
  </body>
</html>
