<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/login.css" />
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="post">
      <div class="img">
        <img src="logo.png" alt="Logo Image" />
      </div>
      <div class="loginContent">
        <h2>Login</h2>
        <%if(error){%>
        <p class="error">Invalid Details:<%=error[0] %></p>
        <%}%>
        <input type="text" name="username" id="username" placeholder="E-Mail" />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
        <div class="loginButtons">
          <button type="submit">Log In</button>
          <a href="/"><button type="button">Go Back</button></a>
        </div>
        <p>Don't have an account.<a href="/signup">Click Here</a></p>
      </div>
    </form>
  </body>
</html>
