<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <form action="/signup" method="post">
      <label for="userName">User Name :</label>
      <input type="text" name="userName" id="userName" />
      <label for="password">Password : </label>
      <input type="password" name="password" id="password" />
      <label for="cpassword">Confirm Password :</label>
      <input type="password" name="cpassword" id="cpassword" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
