<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/signup.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <form action="/signup" method="post">
      <div class="img">
        <img src="logo.png" alt="Logo Image" />
      </div>
      <div class="signupContent">
        <h2>Sign Up</h2>
        <% if(errors) {%>
        <div class="errorContainer">
          <input
            type="text"
            name="userName"
            id="userName"
            placeholder="E-Mail"
          />
          <% for(let error of errors){ %> <% if(error.path=='userName') {%>
          <p class="error"><%=error.msg %></p>
          <% } }%>
        </div>

        <div class="errorContainer">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
          <% for(let error of errors){ %> <% if(error.path=='password'){ %>
          <p class="error"><%=error.msg %></p>
          <% }} %>
        </div>

        <div class="errorContainer">
          <input
            type="password"
            name="cpassword"
            id="cpassword"
            placeholder="Confrim Password"
          />
          <% for(let error of errors){ %> <% if(error.path=='cpassword') {%>
          <p class="error"><%=error.msg %></p>

          <% }} %>
        </div>
        <%} else{ %>

        <input type="text" name="userName" id="userName" placeholder="E-Mail" />

        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />

        <input
          type="password"
          name="cpassword"
          id="cpassword"
          placeholder="Confrim Password"
        />
        <% } %>

        <div class="signupButtons">
          <button type="submit">Sign Up</button>
          <a href="/"><button type="button">Go Back</button></a>
        </div>
      </div>
    </form>
  </body>
</html>
