<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit A Short URL</title>
  </head>
  <body>
    <% if(errors) {%>
    <ul>
      <% for(let error of errors) {%>
      <li><%=error.msg %></li>
      <% } %>
    </ul>
    <% } %>
    <form action="/submitLinks" method="post">
      <label for="fullURL">Full URL :</label>
      <input type="text" name="fullURL" id="fullURL" />
      <label for="shortURL">Short URL :</label>
      <input type="text" name="shortURL" id="shortURL" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
